{% extends "layout.html" %}

{% block title %}
    Perfil
{% endblock %}


{%block menu%}
<div class="container">
    
  <div class="profile">

    <div class="profile-image">
      {% if content.permitir_foto_google == True %}
        <img src="{{content.url_perfil}}" alt="" width="123px" height="120px">
      
      {% elif content.permitir_foto_google == false %}
        <img src="static/img/{{content.url_perfil}}" alt="" width="123px" height="120px">
      
      {%endif%}
    </div>

    <div class="profile-user-settings">
      
      {% if content.username == None %}
          <h1 class="profile-user-name">Actualice su informacion</h1>
      {% else%}
          <h1 class="profile-user-name">{{content.username}}</h1>
      {%endif%}

      <button type="button" id="cambiar_x"class="btn2 btn-primary profile-edit-btn"  data-bs-toggle="modal" data-bs-target="#exampleModal">Edit Profile</button>
        <!-- Button trigger modal -->
         
          <!-- Modal -->
          <form action="/change_data_profile" method="post">
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Edit Profile</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="main">
                      <div id="subscription">
                       
                       <div id="sub__promo">                                
                            
                          <input type="text" required id="email username2" name="username" for="email" placeholder="Nombre de usuario {{content.username}}"/>
                          <input type="text" required id="email name" name="name" value="{{content.name}}" for="email" placeholder="Nombre {{content.name}}"/>
                          <input type="text" required id="email lastname" name="lastname" value="{{content.lastname}}" for="email" placeholder="Apellido {{content.lastname}}"/>
                          <input type="text"  id="email descripcion" name="description" value="{{content.descripcion}}" for="email" placeholder="Descripcion {{content.descripcion}}"/>
                          <input type="date" required id="email nacimiento" name="nacimiento" value="{{content.nacimiento}}" for="email" placeholder="Nacimiento {{content.nacimiento}}"/>
                          
                        </div>
                        
                      </div>
                    </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      <!-- <button class="btn profile-settings-btn" aria-label="profile settings"><i class="fas fa-cog" aria-hidden="true"></i></button> -->

    </div>

    <div class="profile-stats">

      <ul>
        <li><span class="profile-stat-count">{{content.post}}</span> posts</li>
        <li><span class="profile-stat-count">{{content.seguidores}}</span> followers</li>
        <li><span class="profile-stat-count">{{content.seguidos}}</span> following</li>
      </ul>

    </div>

    <div class="profile-bio">

      <p><span class="profile-real-name">{{content.name}} {{content.lastname}}</span></p>
      <p><span class="profile-real-name"></span> {{content.descripcion}}</p>

    </div>

  </div>
  <!-- End of profile section -->

</div>
<!-- End of container -->
{%endblock%}

{% block main %}
<!-- End About Section -->
<section class="main-content">
  <div class="">
    {% for items in item %}
    <br>
    <br>
    <div class="row">
      
      <div class="col-sm-6 offset-sm-3">
        <div class="post-block">
          <div class="d-flex justify-content-between">
            <div class="d-flex mb-3">
              <div class="mr-2">
                {% if content.permitir_foto_google == True %}
                
                  <a href="#!" class="text-dark"><img src="{{content.url_perfil}}" alt="User" class="author-img"></a>
                
                {% elif content.permitir_foto_google == false %}
                <a href="#!" class="text-dark"><img src="static/img/{{content.url_perfil}}" alt="User" class="author-img"></a>
                
                {%endif%}
                
              </div>
              <div>
                <h5 class="mb-0"><a href="#!" class="text-dark">{{items.username}}</a></h5>
                <p class="mb-0 text-muted">{{items.date }}</p>
              </div>
            </div>
            <div class="post-block__user-options">
              <a href="#!" id="triggerId" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">
                    <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="triggerId">{{items.id}}
                <a class="dropdown-item text-dark" href="{{url_for('EditarPublicacion',id=items.id)}}"><i class="fa fa-pencil mr-1"></i>Edit</a>
                <a class="dropdown-item text-danger" href="{{url_for('EliminarPublicacion',id=items.id)}}"><i class="fa fa-trash mr-1"></i>Delete</a>
              </div>
            </div>
          </div>
          <div class="post-block__content mb-2">
            <p>{{items.descripcion}}</p>
            <img src="static/img/{{items.image_path}}" alt="Content img">
          </div>
          <div class="mb-3">
            <div class="d-flex justify-content-between mb-2">
              <div class="d-flex">
                <a href="#!" class="text-danger mr-2"><span><i class="fa fa-heart"></i></span></a>
                <a href="#!" class="text-dark mr-2"><span>Comment</span></a>
              </div>
              <a href="#!" class="text-dark"><span>Share</span></a>
            </div>
            <p class="mb-0">Liked by <a href="#!" class="text-muted font-weight-bold">John doe</a> & <a href="#!" class="text-muted font-weight-bold">25 others</a></p>
          </div>
          <hr>
          <div class="post-block__comments">
            <!-- Comment Input -->
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Add your comment">
              <div class="input-group-append">
                  <button class="btn btn-primary" type="button" id="button-addon2"><i class="fa fa-paper-plane"></i></button>
              </div>
            </div>
            <!-- Comment content -->
            <div class="comment-view-box mb-3">
              <div class="d-flex mb-2">
                <img src="/templates/img/user2.jpg" alt="User img" class="author-img author-img--small mr-2">
                <div>
                  <h6 class="mb-1"><a href="#!" class="text-dark">John doe</a> <small class="text-muted">1m</small></h6>
                  <p class="mb-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                  <div class="d-flex">
                    <a href="#!" class="text-dark mr-2"><span><i class="fa fa-heart-o"></i></span></a>
                    <a href="#!" class="text-dark mr-2"><span>Reply</span></a>
                  </div>
                </div>
              </div>
            </div>
            <!-- More Comments -->
            <hr>
            <a href="#!" class="text-dark">View More comments <span class="font-weight-bold">(12)</span></a>
          </div>
        </div>
      </div>
      
    </div>
    {%endfor%}
  </div>
  

</section>

<script>
  //var selectid = document.querySelector("#username"), test = '{{content | tojson }}' ;
  //console.log('{{content | tojson }}')
  //var username =document.getElementsByName("username")
  //console.log(username[0].tagName);
  //=  '{{content | tojson }}'
  
  
  
</script>

{%endblock%}



      
 
    
   
   
